.DS_Store
Thumbs.db
scans/
build/
results/
fonts/fontfolio
*.pdf
livres.encours/
livres.autres/
livres.termines/
livres.publies/efele_catalogue_commun.txt
livres.publies/feed.xml
livres.publies/liste.epub.html
livres.publies/liste.sources.html
