  @font-face {font-family: Spectral;font-weight: normal;font-style: normal;src: url('Spectral-Medium.otf'); }

  @font-face {font-family: Spectral;font-weight: normal;font-style: italic;src: url('Spectral-MediumItalic.otf'); }

body {
  font-family: Spectral, serif;
}

.auteur {
  font-variant-caps: small-caps;
}

a {
  text-decoration: none;
}

a:hover { 
  text-decoration: underline; 
}
